.nav-tabs .nav-link {
    background-color: lightgreen !important;
    color: black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid 2px black !important;
  }
  
  .nav-tabs .nav-link.active {
    background-color: green !important;
    color: white !important;
    border-bottom: solid 3px black !important;
  }